@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}


img {
	@apply h-full;
}

h1 {
	@apply text-4xl;
}
h2
{
	@apply text-3xl;
}
h3
{
	@apply text-2xl;
}
h4
{
	@apply text-xl;
}
h5
{
	@apply text-lg;
}
h6
{
	@apply text-base;
}

ol
{
	@apply list-decimal list-inside;
}

ul
{
	@apply ps-5 mt-2 space-y-1 list-disc list-inside;
}

blockquote
{
	@apply blockquote;
}
